[submodule "modules/web-markup"]
	path = modules/web-markup
	url = git://github.com/manakai/perl-web-markup
[submodule "modules/web-encodings"]
	path = modules/web-encodings
	url = git://github.com/manakai/perl-web-encodings
[submodule "modules/web-url"]
	path = modules/web-url
	url = git://github.com/manakai/perl-web-url
[submodule "modules/charclass"]
	path = modules/charclass
	url = git://github.com/wakaba/perl-charclass
[submodule "modules/web-dom"]
	path = modules/web-dom
	url = git://github.com/manakai/perl-web-dom
[submodule "modules/web-css"]
	path = modules/web-css
	url = git://github.com/manakai/perl-web-css
[submodule "modules/promise"]
	path = modules/promise
	url = git://github.com/wakaba/perl-promise
[submodule "modules/web-useragent-functions"]
	path = modules/web-useragent-functions
	url = git://github.com/wakaba/perl-web-useragent-functions
[submodule "modules/json-ps"]
	path = modules/json-ps
	url = git://github.com/wakaba/perl-json-ps
[submodule "modules/web-resource"]
	path = modules/web-resource
	url = git://github.com/manakai/perl-web-resource
[submodule "modules/web-datetime"]
	path = modules/web-datetime
	url = git://github.com/manakai/perl-web-datetime
